<h3 class="text-center mt-3"> Add a list</h3>

<div class="mt-5 ms-5">
    <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-ghost" %>
    <% end %>
</div>
