.navbar-lewagon {
  justify-content: space-between;
  background:#615744;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
  color: white;
  padding-left: 30px;
}

.navbar a{
  color: white;
  font-size: 20px;
}
